@font-face {
    font-family: "firasans_bold";
    src: url(fonts/firesans__bold.ttf);
   }
 @font-face {
    font-family: "firasans_medium";
    src: url(fonts/firasans.ttf);
   }
 @font-face {
    font-family: "firasans_regular";
    src: url(fonts/firesans__regular.ttf);
   }
.page {
    min-width: 320px;
    font-family: 'firasans_regular', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background: #f6f6f6;
}
* {
    box-sizing: border-box;
}
html, body { 
    height: 100%;
}
body { 
    margin: 0;
} 
.page__wrap { 
    position: relative;
    min-height: 100%;
    margin-bottom: -50px;
    overflow: hidden;
}
.header { 
    background: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.user { 
    padding: 10px 0;
    color: #414141;
    
}
.container { 
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px; 
}
.user__link { 
    text-decoration: none;
    color: inherit;
}
.user__photo { 
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 2px solid #bebebe;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: middle;
    
}
.user__img { 
    max-width: 200%;
    max-height: 130%;
}
.user__name { 
    display: inline-block;
    max-width: 300px;
    margin: 7px 0 0 15px;
    font-size: 18px;
    line-height: 1.3;
    font-family: 'firasans_regular', Arial, sans-serif;
    font-weight: normal;
    vertical-align: middle;
}
.contact { 
    position: relative;
    padding-top: 29px;
    padding-bottom: 15px;
    cursor: pointer;
}
.contact__show {
    position: relative;
    font-size: 18px;
    font-family: 'firasans_bold';
    color: #33c1e3;
    background: url(../img/decor/dot.png) repeat-x left 0 bottom;
    text-decoration: none;
}
.contact__underline { 
    border-bottom-width: 100%;
    border-bottom-style: dotted;
    color: #33c1e3;
}
.contact__tip {
    display: none;
     position: absolute;
     top: 100%;
     right: 50%;
     z-index: 1;
     margin-top: -2px;
     transform: translate(50%);
}
.header__right:hover .contact__tip { 
    display: block;
}
.contact__show:hover .contact__underline{ 
    color: red;
}
.contact__show:hover{ 
    color: red;
}
.treungular {
    position: absolute;
    content: "";
    left: 105px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #dddddd;
}
.treungular2 { 
    position: absolute;
    content: "";
    left: 105px;
    top: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}
.contact__show {
    position: relative;
    font-size: 18px;
    font-family: 'firasans_bold';
    color: #33c1e3;
    background: url(../img/decor/dot.png) repeat-x left 0 bottom;
    text-decoration: none;
}
.contact__triangle { 
    display: none;
    background-color: black;
    position: absolute;
    top: -9px;
    right: 50%;
    width: 20px;
    height: 10px;
    margin-right: -10px;
}
.contact__list {
    margin: 0;
    padding: 0;
    background: #fff;
    border: 1px solid #dedede;
    border-radius: 10px;
    list-style: none;
}
.contact__item {
    border-bottom: 1px solid #dedede;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
} 
.contact__link {
    display: block;
    padding: 12px 20px;
    font-size: 18px;
    line-height: 1;
    font-family: 'firasans_light', Arial, sans-serif;
    color: #414141;
    text-decoration: none;
    white-space: nowrap;
}
a {
    background-color: transparent;
}
.contact__icon {
    margin-right: 10px;
    color: #33c1e3;
}
.content { 
     padding-top: 25px;
     margin-bottom: 50px;
}
.container { 
    margin: 0 auto;
    padding: 0 10px;
    max-width: 960px;
    display: flex;
    justify-content: space-between;
}
.content__sidebar {
    width: 220px;
}
.nav {
    font-family: 'firasans_regular';
    font-size: 18px;
    text-align: right;
}
.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__item {
    position: relative;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.nav__item.is-active .nav__link {
    font-family: firasans_bold;
}
.nav__item.is-active .nav__link {
    color: #33c1e3;
}
.nav__link {
    padding: 9px 29px 8px 0;
    display: block;
    text-decoration: none;
    color: #414141;
}
.content__main {
    float: right;
    width: 700px;
} 
.page-title {
    margin: 0;
    margin-bottom: 22px;
    font-weight: normal;
    font-family: 'firasans_medium', Arial, sans-serif;
    font-size: 35px;
    line-height: 1.2;
    color: #414141;
}
.portfolio {
    margin: 0 0 0 -20px;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.portfolio__item {
    display: inline-block;
    width: 220px;
    margin-bottom: 20px;
    margin-left: 20px;
    vertical-align: top;
    font-size: 16px;
    background: #fff;
    box-shadow: 0 1px 2px #d5d5d5;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
} 
.portfolio__link {
    display: block;
    text-decoration: none;
}
.portfolio__pic {
    width: 100%;
    height: 172px;
    overflow: hidden;
}
.portfolio__img {
    max-width: 100%;
    max-height: 100%;
}
.portfolio__info {
    padding: 20px 20px 13px 20px;
}
.portfolio__title {
    margin: 0;
    font-family: 'firasans_regular', Arial, sans-serif;
    font-weight: normal;
    font-size: 21px;
    line-height: 1;
    color: #33c1e3;
}
.portfolio__desc {
    margin-bottom: 11px;
    font-family: 'firasans_light', Arial, sans-serif;
    font-size: 14px;
    color: #414141;
}
.portfolio__type {
    font-family: 'firasans_bold', Arial, sans-serif;
    font-size: 14px;
    color: #aeaeae;
}
.portfolio__type i { 
    width: 18px;
}
.page__footer {
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 6px;
    background-color: rgb(65, 65, 65);
    color: #fff;
    width: 100%;
} 
.footer__left {
    padding-top: 15px;
    margin-left: auto;
    margin-right: 400px;
}
.copyright {
    color: #9c9c9c;
    font-family: 'firasans_light', Arial, sans-serif;
    font-size: 14px;
    line-height: 1;
}
.footer__right {
    padding-top: 6px;
    margin-right: auto;
} 
.socials {
    list-style: none;
    margin: 0;
    padding: 0;
} 
.socials__item {
    margin-left: 2px;
   display: inline-block;
}
.socials__link--fb {
    width: 31px;
    height: 30px;
    background-position: 0 0;
}
.socials__link {
    display: block;
    background-image: url(icons/socials.png);
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.socials__link--vk {
    width: 32px;
    height: 30px;
    background-position: 0 -120px;
} 
.socials__link--tw {
    width: 31px;
    height: 30px;
    background-position: 0 -60px;
}